.startScreen__section {
	font-family: 'Rubik', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 30px;
	background: var(--bg);
	padding: 40px;
	border-radius: 30px;
	width: 350px;
	height: 350px;
}

.startScreen__button-box {
	display: flex;
	gap: 30px;
}

.startScreen__text {
	width: 90%;
	text-align: center;
}
